<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="pageTitle">Page Title</label>
                        <input type="text" class="form-control" id="pageTitle" placeholder="Title">
                    </div>
                </div>
                
                <div class="col-md-3">
                  <p>2018-06-03</p>
                </div>
            </div>
            <div class="mb5"></div>
            <div class="row">
              <div class="col-md-12 text-editor" contenteditable="true"></div>
            </div>
            <div class="mb5"></div>
            <div class="row">
              <button class="btn btn-primary pull-right">
                Save
              </button>
            </div>
        </div>
    </div>
  </div>