<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="pageTitle"></label>
                        <input type="text" 
                        class="form-control" 
                        id="pageTitle" 
                        placeholder="Title"
                        [(ngModel)]="title">
                    </div>
                </div>
                
                <div class="col-md-3">
                  <p>{{ date }}</p>
                </div>
            </div>
            <div class="mb5"></div>
            <div class="row">
              <div class="col-md-12 text-editor" contenteditable="true">{{content}}</div>
            </div>
            <div class="mb5"></div>
            <div class="row">
              <button class="btn btn-primary pull-right">
                Save
              </button>
            </div>
        </div>
    </div>
  </div>